/* Module */

/* ---------------------------------------------------------  Snippets - Uncomment ones you would like and remove others for production*/
// @import "../snippets/menu-d-float.less";
// @import "../snippets/menu-d-sticky.less";
// @import "../snippets/menu-m-flyout.less";
// @import "../snippets/holding-page-head.less";

/* ---------------------------------------------------------  Wireframe styles - Remove for production*/

.wireframe-label {
  background-color: @secondary-light;
  text-align: center;
  padding: 8em 0;
}

/* ---------------------------------------------------------  Pattern - Remove for production*/

.pattern {
  .make-xs-column(12);
  .pad-bottom( @v-space );
  .mar-bottom( @v-space );
  
  border-bottom: 2px solid #000;
}

.modules .l-inner {
  .pad-bottom( @v-space );
  .mar-bottom( @v-space );
  
  border-bottom: 2px solid #000;
}


/*  ---------------------------------------------------------  Header */
header {
	.container;
}

.the-head {
	.make-xs-column(12);
}

.the-head-title {
  float: left;
}

/*  ---------------------------------------------------------  Index */

.index-content {
	.make-xs-column(12);
}

/*  ---------------------------------------------------------  Footer */
footer {
	.container;
}

.the-foot {
	.make-xs-column(12);
}


